---
kind: ConfigMap
apiVersion: v1
metadata:
  name: ui
  namespace: {{ ma_namespace }}
data:

  config.json: |
    {
      "DATA_MANAGER_API_SERVER": "https://{{ ma_location['api'].hostname }}{{ ma_location['api'].path }}",
      "FRAGNET_DEPICT_SERVER": "https://{{ ma_location['depict'].hostname }}{{ ma_location['depict'].path }}",
    }

  keycloak.json: |
    {
      "realm": "{{ ma_realm }}",
      "auth-server-url": "{{ keycloak_server_url }}/",
      "ssl-required": "external",
      "resource": "{{ ma_keycloak_client_id }}",
      "public-client": true,
      "confidential-port": 0
    }
